@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,700;1,600&family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:hsl(214, 47%, 23%);
  font-family: "Barlow Semi Condensed", sans-serif;
}

/* .container{
   display: flex;
  justify-content: space-between;
  border: 3px solid rgb(169, 193, 204);
  border-radius: 30px;
  padding: 20px;  
} */

/* .container h2{
  color: white
} */

/* .instruction{
  display: flex;
  align-items: center;
  color: white
} */

 .score{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none; */
  padding: 0px 40px;
  /* border-radius: 20px;;
  background-color: white */
} 

.score-text{
  color: hsl(229, 64%, 46%)
}

.scores{
  color: hsl(217, 16%, 45%);
}

/* .rps{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
} */

.rock{
 border: 20px solid  hsl(349, 71%, 52%);
 border-radius: 50%;
 transition: 0.15s;
}

.rock:hover{
  transform: scale(1.2);
}

.scissors{
  border: 20px solid hsl(39, 89%, 49%);
  border-radius: 50%;
  transition: 0.15s;
}
.scissors:hover{
  transform: scale(1.2);
}

.paper{
  border: 20px solid hsl(230, 89%, 62%);
  border-radius: 50%;
  transition: 0.15s;
}
.paper:hover{
  transform: scale(1.2);
}

img{
  width: 250px;
  margin: 20px 30px;
}



@media screen and (max-width: 360px){
  
  .rock, {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .instruction{
    text-align: center;
  }
  .score{
    width: 175px
  }

  img{
    width: 200px
  }
  
}

@media screen and (max-width: 630px){
  
  .rock{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .instruction{
    text-align: center;
  }
  .score{
    width: 200px
  }

  img{
    width: 225px
  }
  
}